header {
background-image:url(../img/lodoheader.png);
width:20%;
height:23%;
object-fit: cover;
}

html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    font-size:16px;
}
* {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}        
form > * {
    margin: 0.2rem;
    padding: 0.2rem;
    font-family: monospace;
}

.listTodo {
    display:flex;
    flex-wrap: wrap;
    width:100%;
}
.listTodo article {
    border:1px solid #aaaaaa;
    padding: 0.25rem;
    margin:0.25rem;
    width: calc(100% / 3 - 0.5rem); /* IL FAUT ENLEVER LE MARGIN */
}

article img {
    width:100%;
    height:15vh;
    object-fit:cover;
}

article.imiter {
    background-color:rgb(42, 147, 165);
    
    font-family:helvetica;
    font-size: 16px;
    color:blue;
    font-weight: bold;
}
article.adapter {
    background-color:red;
    
    color:white;
}
article.transposer {
    background-color:purple;
    
    color:white;
    
}

article {
    transition: all 0.5s;
}
article:hover {
    border:1px solid #ffffff;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.8);
}


body {
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}

body > * {
    max-width:600px;
}

.cache {
    display: none;
}

.C1 select{
    background-image:url("../img/C1.png");
}

.C2{background-image:url("../img/C2.png");}

.C3{}

.C4{}

.C5{}

.C6{}

.C7{}

.C8{}

.C9{}

.C10{}

.C11{}

.C12{}

.C13{}

.C14{}

.C15{}

.C16{}

.C17{}

.C18{}